button {
    width: 80px;
    height: 50px;
    background-color: rgb(199, 255, 192);
    cursor: pointer;
}

.calc-row{
    display: flex;
    flex-direction: row;
    flex:4;
    justify-content: center;
    margin:0%;
    

}

.bigBtn {
    flex:2;
    display: flex;
    justify-content: center;
    margin:0%;
}

.smallBtn{
    flex:2;
    display: flex;
    justify-content: space-around;
    margin:0%;
}

#clearbutton {
    width: 160px;
    height: 50px;
    margin:0%;

}

#zerobutton {
    width: 160px;
    height: 50px;
    margin:0%;
}

#tagone {

    height: 70px;
    width: 250px;
    
}

#dotbutton {

    margin: 0px;
}

#percentbutton {

    margin: 0px;
}

#buttondivision {
    width:400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#textbox {
    text-align: center;
}